<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ir.metrix.push.sample">

    <application
        android:name=".MetrixApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_metrix"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_metrix_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PushMetrixSDK_AndroidSample">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="metrix_appId"
            android:value="yhnyulwepfhmqtb" />

        <meta-data
            android:name="metrix_push_appId"
            android:value="8c82598fdccf4dbba398ee7f2fa99b14ael" />

    </application>

</manifest>